html {
  box-sizing: border-box;
  font-family: 'Karma', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #6f00e7;
  text-align: center;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ol li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid #987ffa;
  border-radius: 6px;
}

ul {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: center;
}

ul li:first-child {
  background-color: #6f00e7;
  text-decoration: none;
  text-align: left;
  border-radius: 3em;
  padding: .5em 1.5em .7em;
}

ul li:not(first-child) {


}

span {
  font-family: "Oswald", sans-serif;
  color: #fff;

}




















Typefaces: Karma, Oswald
Text sizes: 1.4rem, 2rem
Line-heights: 1.5
Colours: #6f00e7, #987ffa, #000
Gaps: 1rem
Margins: .25em, 1.5rem
Paddings: .5em 1.5em .7em, .25em, 1rem
Border thicknesses: 3px
Corner-radii: 3em, 6px
